__pycache__/
.ipynb_checkpoints/
.DS_Store
.venv/
output/
*.pyc
*.egg-info/
data/osm/*.pkl
data/osm/local_exports/
data/resplan/*.pickle
external/resplan/
notebooks/*.pdf
notebooks/*.png
notebooks/*.svg
